# Dexcom (EU) Login (From your app, not your share acc)
DEXCOM_ACCOUNT_NAME=+491234567890
DEXCOM_PASSWORD=YourPasswordHere

# EU Host 
DEXCOM_HOST=shareous1.dexcom.com (maybe shareous2.dexcom.com)

# Official AppID (dont change)
DEXCOM_APPLICATION_ID=d89443d2-327c-4a6f-89e5-496bbb0317db

# Nightscout Target (your running instance)
NIGHTSCOUT_URL=https://your nightscout url (not feeder url)

# Your Nightscout API_SECRET (Plaintext); will be hashed to SHA1 in code
NIGHTSCOUT_API_SECRET=your_api_secret_here

# Poll-Intervall in sec.
POLL_INTERVAL_SECONDS=60

# History shown in minutes (max 1440)
DEXCOM_MINUTES=1440

# Max Count (288 ~ 24h in 5-min-steps)
DEXCOM_MAX_COUNT=288
